absl-py==0.8.1
argh==0.26.2
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
configparser==4.0.2
cssselect==1.1.0
defusedxml==0.6.0
docker-pycreds==0.4.0
Flask==1.1.1
Flask-Login==0.4.1
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.5
google-auth==1.7.2
google-auth-oauthlib==0.4.1
gql==0.1.0
graphql-core==2.2.1
grpcio==1.25.0
gym==0.15.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jsmin==2.2.2
lxml==4.4.2
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.17.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencv-python==4.1.2.30
pathtools==0.1.2
promise==2.2.1
protobuf==3.11.1
psutil==5.6.7
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycurl==7.43.0.3
pyglet==1.3.2
pyquery==1.4.1
pyspider==0.3.10
python-dateutil==2.8.1
PyYAML==5.2
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
Rx==1.6.1
scipy==1.3.3
sentry-sdk==0.13.5
shortuuid==0.5.0
six==1.13.0
smmap2==2.0.5
subprocess32==3.5.4
tblib==1.5.0
tensorboard==2.1.0
torch==1.3.1
tornado==4.5.3
tqdm==4.40.1
u-msgpack-python==2.5.2
urllib3==1.25.7
wandb==0.8.18
watchdog==0.9.0
Werkzeug==0.16.0
WsgiDAV==3.0.1
